faker
numpy
pandas
scikit-learn
joblib
fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
email-validator
httpx
pyjwt[crypto]
python-jose[cryptography]
passlib[bcrypt]
clerk-backend-api
sqlalchemy
psycopg2-binary
celery
redis

pytz
python-json-logger
reportlab
openpyxl
